body {
    margin-top: 10rem;
    margin-left: 10rem;
    font-size: 2rem;
    font-weight: bold;
}

.header {
    margin: 2px;
    border: 0.3px solid;
}

.todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.todo-list li {
    display: list-item;
    text-align: -webkit-match-parent;
    font-size: 1rem;
    width: 250rem;
    margin-left: 20px;
    margin-top: 2px;
    font-weight: normal;
}

li button {
    background: none;
    border: 0;
}

.complete-input {
    text-decoration: line-through;
    width: 200rem;
    height: 20rem;
}

.active-input {
    width: 200rem;
    height: 20rem;
    margin-top: 1px;
}

label[for='toggle-all'] {
    display: none;
}

.toggle-all {
    position: relative;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 25px;
    height: 25px;
    text-align: center;
    border: none;
    /* Mobile Safari */
}

.toggle-all:before {
    content: '❯';
    font-size: 12px;
    color: #e6e6e6;
    padding: 2px 2px 2px 2px;
}

.toggle-all:checked:before {
    color: #737373;
}


/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .toggle-all,
    .todo-list li .toggle {
        background: none;
    }
    .todo-list li .toggle {
        height: 20px;
    }
    .toggle-all {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-appearance: none;
        appearance: none;
    }
}